@import "../../common/assets/scss/main.scss";
.cookies-full {
  @include themed() {
    background-color: t("dark4");
  }
  .intro {
    @include themed() {
      background-color: t("dark4");
    }
    margin-top: 25px;
    background-color: #f9f9f9;
    height: 100%;
    width: 100%;
    margin-top: 0px;
    padding: 25px 25px;
    .sticky-condition {
      position: sticky;
      top: 120px;
    }

    .name {
      color: #8b8a8a;
      font-weight: 500;
      font-size: 17px;
      margin-top: 25px;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      cursor: pointer;
      padding: 10px;

      .number {
        margin-right: 15px;
        color: white;
        background-color: #8b8a8a;
        padding: 10px;
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }
    }
    .name:hover {
      color: #173303;
      @include themed() {
        color: t("pale-green");
      }
    }
    .number:hover {
      background-color: #173303;
      @include themed() {
        background-color: t("pale-green");
      }
    }
  }

  .cookies-content-full {
    .cookies-headings {
      color: #28be21;
      font-size: 2rem;
      font-weight: 600;
      @include themed() {
        color: t("pale-green");
      }
    }
    .cookies-desc {
      font-size: 18px;
      color: #a4a3a8;
      margin-bottom: 20px;
      font-weight: 500;
    }
  }
  .main-content-cookies {
    .cookies-heading {
      color: #173303;
      font-size: 1.4rem;
      line-height: 26px;
      font-weight: 500;
      margin-bottom: 12px;
      margin-top: 13px;
      @include themed() {
        color: t("lightwhitegray");
      }
    }
    .cookies-content {
      font-size: 15px;
      line-height: 25px;
      font-weight: 400;
      letter-spacing: 0.5px;
      color: #444;
      @include themed() {
        color: t("light-text");
      }
    }
  }
  .line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    .line-line {
      width: 50%;
      border-top: 1px solid #e0e0e0;
    }
  }
}
.cookies-full .intro .active {
  color: #28be21;
  @include themed() {
    color: t("pale-green");
  }
  .number {
    background-color: #28be21;
    @include themed() {
      background-color: t("pale-green");
    }
  }
}

@media only screen and (min-width: 768px) {
  .mobile-accordian {
    display: none !important;
  }
}
@media only screen and (min-width: 280px) and (max-width: 767px) {
  .cookies-full {
    display: none !important;
  }
}
.mobile-accordian {
  padding: 25px;
  @include themed() {
    background-color: t("dark4");
  }

  .line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    .cookies-headings {
      color: #204356;
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    .line-line {
      width: 50%;
      border-top: 1px solid #e0e0e0;
    }
  }
  .cookies-desc {
    color: #a4a3a8;
    margin-bottom: 20px;
    text-align: justify;
    margin-bottom: 25px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .cookies-full .intro {
    padding: 25px 0px;
  }
  .cookies-full .intro .name {
    font-size: 15px;
    padding: 8px;
  }
  .cookies-full .cookies-content-full .cookies-headings {
    font-size: 30px;
  }
  .cookies-full .cookies-content-full .cookies-desc {
    font-size: 16px;
  }
  .cookies-full .main-content-cookies .cookies-heading {
    font-size: 21px;
    line-height: 24px;
  }
  .cookies-full .main-content-cookies .cookies-content {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cookies-full .intro {
    padding: 0px 0px !important;
  }
  .cookies-full .intro .name {
    font-size: 14px;
  }
  .cookies-full .cookies-content-full .cookies-headings {
    font-size: 26px;
  }
  .cookies-full .cookies-content-full .cookies-desc {
    font-size: 14px;
  }
  .cookies-full .main-content-cookies .cookies-heading {
    font-size: 18px;
  }
  .cookies-full .main-content-cookies .cookies-content {
    font-size: 13px;
  }
  .cookies-full .intro {
    height: 98%;
  }
}

.mobile-accordian {
  .accordion-button {
    color: #ade7d0;
    @include themed() {
      background-color: t("dark4");
    }
  }
  .acc-title {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .acc-cnt {
    font-size: 14px;
    @include themed() {
      color: t("whitecolor");
    }
  }
  .accordion-item {
    border: none;
    outline: none;
    @include themed() {
      background-color: t("dark4");
    }
  }
  .accordion-button::after {
    background-image: none;
  }
  .accordion-button:focus {
    box-shadow: none;
  }
  .accordion-button:not(.collapsed) {
    color: #00c070 !important;
    background-color: transparent;
    @include themed() {
      background-color: t("dark4");
    }
    .number {
      background-color: #00c070 !important;
    }
  }
  .number {
    margin-right: 15px;
    color: white;
    background-color: #ade7d0;
    padding: 10px;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .cookies-headings {
    @include themed() {
      color: t("whitecolor");
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 502px) {
  .mobile-accordian .line .cookies-headings {
    font-size: 18px;
  }
  .mobile-accordian .acc-title {
    font-size: 15px;
  }
  .mobile-accordian .number {
    height: 24px;
    width: 24px;
    font-size: 13px;
  }
}
