@import "../../../../common/assets/scss/main.scss";

.down-app {
  padding: 30px 0px 30px 0px;
  background-color: $gray-bg;
  @include themed() {
    background-color: t("dark3");
  }
  p {
    color: $theme-dark1;
    font-family: "SegoeUI";
    font-size: 16.5px;
    margin-bottom: 30px;
    @include themed() {
      color: t("light-text");
    }
  }
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 50px;
    padding: 5px 10px;
    padding: 4px 4px 4px 10px;
    background-color: #fff;
    border: 0.5px solid #b8b8b86e;
    box-shadow: rgb(149 157 165 / 20%) 5px 5px 24px;
    @include themed() {
      background-color: t("dark4");
      box-shadow: t("none");
      border-color: t("themelight");
    }
    span {
      color: #808695;
      font-family: map-get($map: $segoe-fonts, $key: ui-bold);
      font-size: 15px;
      line-height: 1;
      border: none;
      outline: none;
      background-color: transparent;
      padding: 0px 3px;
      @include themed() {
        color: t("light-text");
      }
    }
    input.form-control {
      border: none;
      outline: none;
      font-family: map-get($map: $segoe-fonts, $key: ui-semibold);
      font-size: 15px;
      line-height: 1;
      box-shadow: none;
      border: none;
      outline: none;
      @include themed() {
        background-color: t("dark4");
        color: t("whitecolor");
      }
    }
    input.form-control:focus {
      box-shadow: none;
      border: none;
      outline: none;
    }
    button {
      background-color: #eaeaea;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      padding: 12px 35px;
      border-radius: 50px;
      outline: none;
      color: #173303;
      font-family: map-get($map: $segoe-fonts, $key: ui-semibold);
      font-size: 15px;
      line-height: 1;
      &:hover,
      &:focus,
      &:active,
      &:focus-visible {
        background-color: $themecolor1 !important;
        color: #173303;
      }
    }
  }
  //   FORM END
  ul {
    padding: 0px;
    margin: 30px 0px 0px 0px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding-bottom: 20px;
    li {
      a {
        img {
          width: 130px;
          object-fit: contain;
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 420px) {
  .down-app {
    padding: 30px 0px 30px 0px;
    .home-title {
      margin-top: 30px;
    }
    p {
      font-size: 15px;
      margin-bottom: 15px;
    }
    form {
      span {
        font-size: 14px;
        margin-top: 2px;
      }
      button {
        padding: 10px 25px;
        font-size: 14px;
      }
      input.form-control {
        font-size: 14px;
      }
    }
    ul {
      gap: 20px;
    }
    li a img {
      width: 120px;
    }
  }
}
@media only screen and (min-width: 421px) and (max-width: 575px) {
  .down-app {
    padding: 30px 0px 30px 0px;
    .home-title {
      margin-top: 30px;
    }
    p {
      font-size: 16px;
      margin-bottom: 15px;
    }
    form {
      width: 85%;
      span {
        font-size: 14px;
        margin-top: 2px;
      }
      button {
        padding: 10px 25px;
        font-size: 14px;
      }
      input.form-control {
        font-size: 14px;
      }
    }
    ul li a img {
      width: 120px;
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .down-app {
    padding: 30px 0px 30px 0px;
    .home-title {
      margin-top: 30px;
    }
    p {
      font-size: 16px;
      margin-bottom: 15px;
    }
    form {
      width: 75%;
      span {
        font-size: 14px;
        margin-top: 2px;
      }
      button {
        padding: 10px 25px;
        font-size: 14px;
      }
      input.form-control {
        font-size: 14px;
      }
    }
    ul li a img {
      width: 120px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .down-app {
    padding: 30px 0px 30px 0px;

    p {
      font-size: 16px;
      margin-bottom: 15px;
    }
    form {
      width: 85%;
      span {
        font-size: 14px;
        margin-top: 2px;
      }
      button {
        padding: 10px 25px;
        font-size: 14px;
      }
      input.form-control {
        font-size: 14px;
      }
    }
    ul li a img {
      width: 120px;
    }
  }
}
